body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #fe89f621, #ff66e863); /* ✅ Use 'background' instead of 'background-color' */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}
h2 {
    margin-bottom: 15px;
}
input {
    width: 90px;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 95%;
    padding: 8px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}